.container {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
}

.title{
  color: #555;
}

.list-Todo {
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  max-height: 400px;
  overflow-y: scroll;
  box-shadow: inset 0px 0px 20px 0px #dadada;
}