.container {
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
}

.container section {
  width: 33%;
  margin: 0 10px;
}

.title {
  color: #555;
}

.list-Todo {
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  max-height: 400px;
  overflow-y: scroll;
  box-shadow: inset 0px 0px 20px 0px #dadada;
}